@import "../../variables";

.overview_sec {
	width: 100%;
	position: relative;
	height: 100%;
	padding: 8rem 0;

	.overview_heading {
		width: 100%;
		font-size: 5rem;
		font-family: $font-weight-light;
		text-align: center;
	}

	.overview_sec2_cnt {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		padding: 0 10rem;

		.overview_sec2_heading {
			font-size: 2.5rem;
			font-family: $font-weight-light;
		}

		.overview_sec2_subheading {
			font-size: 4rem;
			font-family: $font-weight-light;
		}

		.overview_sec2_para {
			font-size: 1.8rem;
			font-family: $font-weight-extraLight;
		}
	}
}

@media screen and (max-width: 600px) {
.overview_sec {
	.overview_heading {
		font-size: 4rem;
		font-family: $font-weight-light;
		margin-bottom: 3rem;
	}

	.overview_sec2_cnt {
		padding: 0 2rem;

		.overview_sec2_heading {
			font-size: 2rem;
			
		}

		.overview_sec2_subheading {
			font-size: 3.5rem;
			
		}

		.overview_sec2_para {
			font-size: 1.8rem;
			font-family: $font-weight-light;
		}
	}
}
}