$font-weight-bolder: "SourceSansPro-Black-900";
$font-weight-bold: "SourceSansPro-Bold-700";
$font-weight-regular: "SourceSansPro-Regular-400";
$font-weight-light: "SourceSansPro-Light-300";
$font-weight-extraLight: "SourceSansPro-ExtraLight-100";

$font-weight-bolder-italic: "SourceSansPro-BlackItalic-900";
$font-weight-bold-italic: "SourceSansPro-BoldItalic-700";
$font-weight-regular-italic: "SourceSansPro-RegularItalic-400";
$font-weight-light-italic: "SourceSansPro-LightItalic-300";

$primary-color: #80ed99;
$primary-color-dark: #57cc99;
$primary-color-light: #c7f9cc;
$secondary-color: #38a3a5;
$secondary-color-dark: #22577a;
